.header{
  font-size: 1.5em;
  
}
.navbar-nav > li{
  padding-left:0px;
  padding-right:30px;
}

html{
background: url('../img/checkbck.svg') no-repeat center fixed;     
background-size: cover;
}
.big-container{
  background: none;
}

.navvbrand{
  display:contents
}

#headerr{
  padding-top: 0;
  margin-top: 0;
  border: none;
}

#logoo{
  max-width: 300px;
  width: 40%;
  min-width: 150px;
  background: none;
}

.btn{
  border-radius: 2px;
}

.btn-success{
background: #284931;
}
 
p{
  font-size: 1.2em;
  font-family: cursive ;
  font-weight: bold;
  text-align: right;
}


