.header{
  font-size: 1.5em;
  
}
.navbar-nav > li{
  padding-left:0px;
  padding-right:30px;
}

html{
background: url('../img/checkbck.svg') no-repeat center fixed;     
background-size: cover;
}
.big-container{
  background: none;
}

.navvbrand{
  display:contents
}

#headerr{
  padding-top: 0;
  margin-top: 0;
  border: none;
}

#logoo{
  max-width: 300px;
  width: 40%;
  min-width: 150px;
  background: none;
}

.btn{
  border-radius: 2px;
}

.btn-success{
background: #284931;
}
 
p{
  font-size: 1.2em;
  font-family: cursive ;
  font-weight: bold;
}



* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #284931;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border: none;
  background : none;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}